{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_javascript %}
    {{ parent() }}

{% endblock head_javascript %}

{% block content_title %}Tableau de bord{% endblock %}
{% block page_actions %}

{% endblock %}

{% block main %}
    <div class="row py-5">
        <div class="col-4">
            <div class="row pt-5">
                <div class="col-6 py-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Total des &oelig;uvres</h6>
                            <p class="card-text h1 text-center py-5">{{ count_total_artworks }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 py-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Total des bibliographies</h6>
                            <p class="card-text h1 text-center py-5">2080</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 py-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Version du logiciel</h6>
                            <p class="card-text h1 text-center py-5">1.0.1</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 py-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Espace utilisé (en Go)</h6>
                            <p class="card-text h1 text-center py-4">{{ disk_space.used }} / {{ disk_space.total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <canvas id="count-artwork-by-location"></canvas>
        </div>
        <div class="col-4">
            <canvas id="count-artworks-by-category"></canvas>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12">
            <canvas id="count-artworks-by-year"></canvas>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12">
            <canvas id="count-last-artworks-localisation"></canvas>
        </div>
    </div>




    <script defer>
        document.addEventListener('DOMContentLoaded', function() {
            const dfs = document.getElementById('count-artwork-by-location');
            new Chart(dfs, {
                'type': 'doughnut',
                'data': {
                    labels: {{ count_localisation_type.labels|json_encode|raw }},
                    datasets: [
                        {
                            label: '',
                            data: {{ count_localisation_type.datasets|json_encode|raw }},
                        }
                    ]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Nombre d\'oeuvres par type de localisation'
                        },
                    },
                    indexAxis: 'y',
                    responsive: true,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            })

            const cabc = document.getElementById('count-artworks-by-category');

            new Chart(cabc, {
                type: 'pie',
                data: {
                    labels: {{ count_artworks_by_category.labels|json_encode|raw }},
                    datasets: [{
                        label: 'Catégories d\'oeuvres',
                        data: {{ count_artworks_by_category.datasets|json_encode|raw }},
                    }]

                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Nombre d\'oeuvres par catégorie'
                        },
                    },
                    responsive: true,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            })

            const caby = document.getElementById('count-artworks-by-year');

            new Chart(caby, {
                type: 'line',
                data: {
                    labels: {{ count_artworks_by_year.labels|json_encode|raw }},
                    datasets: [{
                        label: 'Nombre d\'oeuvres',
                        data: {{ count_artworks_by_year.datasets|json_encode|raw }},
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Nombre d\'oeuvres par année de création'
                        },
                    },
                    responsive: true,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            })

            const clal = document.getElementById('count-last-artworks-localisation');

            new Chart(clal, {
                type: 'bar',
                data: {
                    labels: {{ count_last_artworks_localisation.labels|json_encode|raw }},
                    datasets: [{
                        label: 'Localisation actuelle des oeuvres',
                        data: {{ count_last_artworks_localisation.datasets|json_encode|raw }},
                    }]

                },
                options: {
                    indexAxis: 'y',
                    plugins: {
                        title: {
                            display: true,
                            text: 'Nombre d\'oeuvres par localisation'
                        },
                    },
                    responsive: true,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            })
        });

    </script>
{% endblock %}