{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <style>
        .pdf-wrapper {
            color: #292929;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
        .num-inventaire {
            margin-bottom: 1em;
            font-weight: bold;
        }
        .primary-media {
            height: 500px;
            margin-bottom: 1em;
        }
        .mb-0 {
            margin-bottom: 0;
        }
        .gap {
            height: 15px;
        }
        .mt-0 {
            margin-top: 0;
        }
        .w-100 {
            width: 100%;
        }
        .text-left {
            text-align: left;
        }
        .page_break {
            page-break-before: always;
        }
    </style>

    <div class="pdf-wrapper">
        <div class="num-inventaire">{{ oeuvre.numInventaire }}</div>
        <img src="{{ base64Image }}" alt="" class="primary-media" />
        <p><b>{{ oeuvre.titre }}</b></p>
        {% if oeuvre.FirstYear %}
            <p class="mb-0">
                {% if oeuvre.FirstMonth %}
                    {{ month_textual[oeuvre.FirstMonth] }}
                {% endif %}
                {{ oeuvre.FirstYear }}
                {% if oeuvre.dateSeparator != '' %}
                    {{ separator[oeuvre.dateSeparator] }}
                {% endif %}
                {% if oeuvre.SecondMonth %}
                    {{ month_textual[oeuvre.SecondMonth] }}
                {% endif %}
                {% if oeuvre.SecondYear %}
                    {{ oeuvre.SecondYear }}
                {% endif %}
            </p>
        {% endif %}
        {%  if oeuvre.dimensions %}
            <p class="mb-0">{{ oeuvre.dimensions }} (sans cadre)</p>
        {% endif %}
        {%  if oeuvre.DimensionWithFrame %}
            <p class="mt-0">{{ oeuvre.DimensionWithFrame }} (avec cadre)</p>
        {% endif %}
        {% if oeuvre.description %}
            <p class="mb-0">{{ oeuvre.description|nl2br }}</p>
        {% endif %}
        {% if oeuvre.commentairePublic %}
            <p class="mt-0">{{ oeuvre.commentairePublic|nl2br }}</p>
        {% endif %}
        {% if last_localisation %}
            <p>{{ last_localisation.nom }}</p>
        {% endif %}
        {% if bibliographies is defined and bibliographies is not empty or exhibitions is defined and exhibitions is not empty %}
            <div class="page_break"></div>
        {% endif %}
        {% if bibliographies is defined and bibliographies is not empty %}
            <p><b>Bibliographie</b></p>
            <table class="w-100">
                <tr>
                    <th class="text-left">Titre</th>
                    <th class="text-left">Description</th>
                    <th class="text-left">Commentaire</th>
                    <th class="text-left">Année</th>
                </tr>
                <tr>
                    <td colspan="4" class="gap"></td>
                </tr>

                {% for bibliography in bibliographies %}
                    <tr>
                        <td class="pb-30">{{ bibliography.titre|nl2br }}</td>
                        <td class="pb-30">{{ bibliography.description|nl2br }}</td>
                        <td class="pb-30">{{ bibliography.commentaire|nl2br }}</td>
                        <td class="pb-30">{{ bibliography.Year|nl2br }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="gap"></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if exhibitions is defined and exhibitions is not empty %}
            <p><b>Expositions</b></p>
            <table class="w-100">
                <tr>
                    <th class="text-left">Titre</th>
                    <th class="text-left">Description</th>
                    <th class="text-left">Date de début</th>
                    <th class="text-left">Date de fin</th>
                    <th class="text-left">Lieu</th>
                </tr>
                <tr>
                    <td colspan="4" class="gap"></td>
                </tr>

                {% for exhibition in exhibitions %}
                    <tr class="mb-20">
                        <td>{{ exhibition.titre|nl2br }}</td>
                        <td>{{ exhibition.description|nl2br }}</td>
                        <td>{{ exhibition.FirstDay|nl2br }}/{{ exhibition.FirstMonth|nl2br }}/{{ exhibition.FirstYear|nl2br }}</td>
                        <td>{{ exhibition.SecondDay|nl2br }}/{{ exhibition.SecondMonth|nl2br }}/{{ exhibition.SecondYear|nl2br }}</td>
                        <td>{{ exhibition.lieu.nom|nl2br }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="gap"></td>
                    </tr>
                {% endfor %}

            </table>
        {% endif %}
    </div>
{% endblock %}
