{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <style>
        .pdf-wrapper {
            color: #292929;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .num-inventaire {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 1em;
        }

        .primary-media {
            height: 500px;
            margin-bottom: 1em;
        }
    </style>

    <div class="pdf-wrapper">
        <div class="num-inventaire">Numéro d'inventaire #{{ oeuvre.numInventaire }}</div>
        <img src="{{ base64Image }}" alt="" class="primary-media" />
        <p><b>Titre :</b> {{ oeuvre.titre }}</p>
        <p><b>Date de création :</b> {% if oeuvre.FirstDay %}{{ oeuvre.FirstDay }}/{% endif %}{% if oeuvre.FirstMonth %}{{ oeuvre.FirstMonth }}/{% endif %}{{ oeuvre.FirstYear }}</p>
        <p><b>Dimensions :</b> {{ oeuvre.dimensions }}</p>
        <p><b>Description :</b> {{ oeuvre.description }}</p>
        <p><b>Commentaire :</b> {{ oeuvre.commentairePublic }}</p>
    </div>
{% endblock %}
