{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <style>
        .pdf-wrapper {
            color: #292929;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .num-inventaire {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 1em;
        }

        .primary-media {
            height: 500px;
            margin-bottom: 1em;
        }
    </style>

    <div class="pdf-wrapper">
        <div class="num-inventaire">{{ oeuvre.numInventaire }}</div>
        <img src="{{ base64Image }}" alt="" class="primary-media" />
        <p>{{ oeuvre.titre }}</p>
        {% if oeuvre.FirstYear %}
            <p>
                {% if oeuvre.FirstDay %}
                    {{ oeuvre.FirstDay }}/
                {% endif %}
                {% if oeuvre.FirstMonth %}
                    {{ oeuvre.FirstMonth }}/
                {% endif %}
            {{ oeuvre.FirstYear }}
            </p>
        {% endif %}
        {%  if oeuvre.dimensions %}
            <p>{{ oeuvre.dimensions }}</p>
        {% endif %}
        {% if oeuvre.description %}
            <p>{{ oeuvre.description }}</p>
        {% endif %}
        {% if oeuvre.commentairePublic %}
            <p>{{ oeuvre.commentairePublic }}</p>
        {% endif %}
        {% if last_localisation.nom %}
            <p>{{ last_localisation.nom }}</p>
        {% endif %}
    </div>
{% endblock %}
